//Import google fonts
@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Cabin);
//font variables
$droid-sans: 'Droid Sans', sans-serif;
$cabin: 'Cabin', sans-serif;

//Colors
$brand-primary: #83AFA6;
$brand-secondary: #58727F;
$brand-grey: #E5E5E5;
$brand-brown: #D3A284;
